<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/MOP.png" alt="Ministry Logo">
  </div>

  <h2 class="title">ក្រសួងផែនការ</h2>
  <p class="subtitle">ប្រព័ន្ធគ្រប់គ្រងវត្តមានមន្រ្តីរាជការស៊ីវិល</p>

  <!-- Location Status  -->
  <p class="location-status">{{ locationStatus }}</p>
  <div class=" location-container">
    <ion-button id="refresh-location-btn" expand="full" shape="round" color="primary" (click)="getUserLocation()">
      <ion-icon name="refresh-outline" slot="start"></ion-icon>
      Refresh Location
    </ion-button>    
  </div>
  
  <div class="clock-container">
    <h1 id="clock">{{ currentTime }}</h1>
  </div>

  <ion-item>
    <ion-label position="floating">នាមត្រកូល (Last Name)</ion-label>
    <ion-textarea type="text" [(ngModel)]="lastName"></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">នាមខ្លួន (First Name)</ion-label>
    <ion-textarea type="text" [(ngModel)]="firstName"></ion-textarea>
  </ion-item>

  <div class="button-container">
    <!-- Disable Check-In if Not in Allowed Location -->
    <ion-button expand="full" shape="round" color="success" (click)="onCheckIn()" [disabled]="isCheckInDisabled">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      ចូល Check-In
    </ion-button>
    
    <ion-button expand="full" shape="round" color="warning" (click)="onCheckOut()" [disabled]="isCheckOutDisabled">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      ចេញ Check-Out
    </ion-button>
  </div>
  
  <br>

  <ion-item>
    <ion-label>📍 Check-In Time:</ion-label>
    <ion-text>{{ getFormattedTime(checkInTime, 'Not checked in') }}</ion-text>
  </ion-item>
  
  <ion-item>
    <ion-label>📍 Check-Out Time:</ion-label>
    <ion-text>{{ getFormattedTime(checkOutTime, 'Not checked out') }}</ion-text>
  </ion-item>
  
  <ion-item>
    <ion-label>🕒 Total Work Time:</ion-label>
    <ion-text>{{ totalWorkTime || 'Not available' }}</ion-text>
  </ion-item>
</ion-content>
